.Swedbank{
    height: 40px;
    width: 100px;
}
.Navbar{
    width: 1000px;
    margin: 20px;
   
}
.Nordea{
    height: 40px;
    width: 100px;
}

span.swedbankSaldo, span.nordeaSaldo, span.totalSaldo{
	font-weight:bold;
	font-size:2em;
}
div.Navbar + div{
	display:none;
}

.Slider{
    height: 40px;
    width: 1000px;
    margin: 20px;
}