h2{
    font-size: 1.0em;
    padding: 8px;
}
h3{
    font-size: 1.0em;
    margin-left: 20px;  
}
h4{
  
    
}

.Navbar{
    width: 500px;
    margin: 10px;
    background-color: rgb(209, 230, 240);
    

    border-top-left-radius: 10px;   
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;          
    border-bottom-right-radius: 10px;
    
    border-top-left-radius: 7px;
    
    border-bottom-left-radius: 7px;
    border-top-right-radius: 7px;
    
    border-bottom-right-radius: 7px;

}
div.Navbar > div{
    display:none;
}
.Rubrik{
    width: 500px;
    margin: 20px; 
}


.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
	-ms-transform:rotate(-45deg) translate(-9px,6px);
	-moz-transform:rotate(-45deg) translate(-9px,6px);
	-o-trnasform:rotate(-45deg) trasnalte(-9px,6px);
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
	-ms-transform:rotate(45deg) translate(-8px, -8px);
	-o-transform:rotate(45deg) translate(-8px, -8px);
	-moz-transform:rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.selectMenu{
    position: relative;
    width: 800px;
    height: 80px;
    border-radius: 10px;
    margin: 20px;
    background-color: rgb(209, 230, 240);
    display: flex;
}

.Knapp3{
    margin-top: 5px;
    flex: 1 1 auto;
    padding: 20px;
}




.selectMenu .KnappLeft{
    /*float: left;*/
    margin-left: 20px;
}

.selectMenu .KnappRight{
    /* float: right; */
}
.form-group{
    width: 150px;
    margin-left: 20px;
}
.btn-outline-info{
    background-color: rgb(209, 230, 240);
    margin-left: 20px;
    color: black;
}